<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Practica 3</title>
        <meta charset="UTF-8"/>        
    </head>
    <body>
      
        <header th:fragment="header">
            <h3>Practica de Examen</h3>            
        </header>
        
        <footer th:fragment="footer">
            <p>&COPY; Derechos Reservados Valery Noguera, Jean Carlos Ureña, Adrian Fonseca</p>
        </footer>
        
    </body>
</html>