<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html <html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"> 
    <head>
        <title>Practica 3</title>
        <meta charset="UTF-8">
            <!--  <meta name="viewport" content="width=device-width, initial-scale=1.0">--> 
    </head>
    <body>
        <!--   <header th:replace="layout/plantilla :: header"/> -->
        <h2>Informacion de Paises</h2>
        <a th:href="@{/estado/nuevo}">Nuevo Estado</a>
        <div th:if="${estados !=null and !estados.empty}">
            <table border="1">
                <tr>
                    <th>Nombre Pais</th>
                    <th>Capital</th>
                    <th>Poblacion</th>
                    <th>Costas</th>
                    <th>Eliminar</th>
                    <th>Modificar</th>
                </tr>
                <tr th:each="estado: ${estados}">
                    <td>[[${estado.NombrePais}]]</td>
                    <td>[[${estado.Capital}]]</td>
                    <td>[[${estado.Poblacion}]]</td>
                    <td>[[${estado.Costas}]]</td>
                    <td><a th:href="@{/estado/eliminar/}+${estado.idEstado}">Eliminar</td>
                    <td><a th:href="@{/estado/modificar/}+${estado.idEstado}">Modificar</td>
            </table>
        </div>
        <div th:if="${estados ==null or estados.empty}">
            <h2>------------No hay paises que mostrar---------------</h2>
         </div>
        <!--  <footer th:replace="layout/plantilla :: footer"/>-->
    </body>
</html>
