<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html <html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"> 
    <head>
        <title>Practica 3</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!--   <header th:replace="layout/plantilla :: header"/> -->
        <h2>Informacion de Paises</h2>
        <a th:href="@{/pais/nuevo}">Nuevo Pais</a>
        <div th:if="${paises !=null and !paises.empty}">
            <table border="1">
                <tr>
                    <th>Nombre Pais</th>
                    <th>Capital</th>
                    <th>Poblacion</th>
                    <th>Costas</th>
                    <th>Eliminar</th>
                    <th>Modificar</th>
                </tr>
                <tr th:each="pais: ${paises}">
                    <td>[[${pais.NombrePais}]]</td>
                    <td>[[${pais.Capital}]]</td>
                    <td>[[${pais.Poblacion}]]</td>
                    <td>[[${pais.Costas}]]</td>
                    <td><a th:href="@{/pais/eliminar/}+${pais.idPais}">Eliminar</td>
                    <td><a th:href="@{/pais/modificar/}+${pais.idPais}">Modificar</td>
            </table>
        </div>
        <div th:if="${paises ==null or paises.empty}">
            <h2>------------No hay clientes que mostrar---------------</h2>
         </div>
        <!--  <footer th:replace="layout/plantilla :: footer"/>-->
    </body>
</html>
