<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"> 
    <head>
        <title>Practica 3</title>
        <meta charset="UTF-8"/>
        
    </head>
    <body>
         <h2>Informacion de clientes</h2>
        <a th:href="@{/}">Regresar</a>
        <hr/>
        <form th:action="@{/estado/guardar}"
              method="post"
              th:object="${estado}">

                <input type="hidden" name="idEstado" th:field="*{idEstado}"/>
                <fieldset>
                    <label for="NombrePais">Nombre Pais</label>
                    <input type="text" name="NombrePais" th:field="*{NombrePais}"/>
                </fieldset>
                <fieldset>
                    <label for="Capital">Capital</label>
                    <input type="text" name="Capital" th:field="*{Capital}"/>
                </fieldset>
                <fieldset>
                    <label for="Poblacion">Poblacion</label>
                    <input type="number" name="Poblacion" th:field="*{Poblacion}"/>
                </fieldset>
                <fieldset>
                    <label for="Costas">Costas</label>
                    <input type="number" name="Costas" th:field="*{Costas}"/>
                </fieldset>
                <hr/>
                <input type="submit" value="Guardar" name="guardar"/>           
            </form>
        <!-- comment<footer th:replace="layout/plantilla :: footer"/>  -->
    </body>
    
</html>
